<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GoldChest | Financial Services</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">


        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>


    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <h1><img src="images/logo.png" alt="logo"></h1>
                    </a>
                </div>
                <% include ../partials/nav.ejs %>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->


        <div class="container">
            <div class="row">
                <div class="about-us">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h2 class="bold">Who we are</h2><br>
                        <div class="row">
                            <div class="col-sm-10">
                                <p>GoldChest Financial Services Ltd is an Accounting Services firm incorporated in June 2015 with the objective of being a business partner to the SME community in Ghana. Our desire is to offer efficient, reliable & affordable Accounting Services to our partners employing the best skill and methods available leaving you with the peace of mind to fully concentrate on running your business successfully. We are a comprehensive solution to all your Accounting needs and value your satisfaction to be an honest measure of our performance.<br>
<div align="centre" padding="10px">Our goals are to: <br>
•   Provide reliable, effective and experienced accounting support to your business<br>
•   Ensure sound financial advice based on regular maintenance of your financial data <br>
•   Contribute towards long term and sustainable success of your business by keeping an eye on the projections and performance with regular appraisals and financial reports.<br> </div>
<br>
<p>The cornerstone of our business philosophy is extensive and continued communication with clients. We keep our client in the loop at all stages of our accounting procedures with regular reports for the client’s reference. In addition, we also act as business advisors by keeping eye on market trends and advising our client using the most modern and efficient methods related to accounting and financial services.<br> </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="our-skills">
                            <h2 class="bold">Our Skills</h2>
                            <div class="single-skill">
                                <h3>Pay Roll</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="95">95%</div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h3>Record building</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="90">90%</div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h3>Taxation Services</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  data-transition="95">90%</div>
                                </div>
                            </div>
                        </div>

<p>By engaging GFS to take care of your accounting needs, you can be sure you have made a step in the right direction.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#company-information-->
<br>
 <section id="action">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action count">
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="3" data-speed="4500" data-from="0"></h1>
                            <h3>Happy Clients</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="44" data-speed="3000" data-from="0"></h1>
                            <h3>Years of Experience</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="432" data-speed="3000" data-from="0"></h1>
                            <h3>Cups of Coffee</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="145" data-speed="3000" data-from="0"></h1>
                            <h3>Total Project</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="team">
        <div align="center" class="container">
            <div class="row">
                <h2 class="bold" class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Meet the Directors</h2>
                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">
       A team of financial experts and Consultants in business for over a decade with experience in Accounting, Financial Management, Treasury Management, Banking and Supply Chain Management.

                             <div align="center" class="container">
                                <div align="center" >
                                    <div align="center" class="team-single">
                                        <div align="center" class="person-thumb">
                                            <img src="images/aboutus/directors.jpg" align="center" class="img-responsive" alt="">
                                        </div>
                                        <div align="center" class="social-profile">
                                          <p> <h6>Dela is a results oriented team player with significant and progressive experience in Accounting Financial Reporting, Treasury Management, Sales & Distribution, Procurement & Supply Chain Management. Boosting productivity, right sizing cost and fostering efficiency. Dela is a part qualified Management Accountant.</h6> </p>  <br>

                                          <p><h6> Irene is a disciplined and business oriented individual with vast experience in Accounting, Taxation, Banking, Business Reporting & Management. She is a born leader with the desire to succeed in every sphere of life. Irene is a Chartered Accountant (ICA Ghana) and has an EMBA in Money & Banking.</h6></p> <br>
                                        </div>
                                    </div>
                                    <div class="person-info">
                                        <h5>Dela Ackuaku and Irene Ackuaku</h5>
                                        <p>Managing Director &amp; COO </p>
                                    </div>
                                </div>
                            </div>
                       </div>
               </div>
            </div>
        </div>
    </section>
    <!--/#team-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; GoldChest 2016. All Rights Reserved.   &trade; Designed by Daniel Mawuena Ackuaku. <a href="mailto:dackuaku@gmail.com?subject= Prospective Client">dackuaku@gmail.com </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>
</html>